# Environment Configuration
MONGODB_URI="mongodb://localhost:27017/express-auth"
JWT_SECRET="your-super-secret-jwt-key-at-least-32-chars-long"
REFRESH_TOKEN_SECRET="your-different-super-secret-refresh-token-key"
PORT=3000
NODE_ENV=development
